{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>イベントリスト全体</title>
    <link href="{% static 'css/top.css' %}" rel="stylesheet">
    <!-- <script src="{% static 'js/scr.js' %}" defer></script> -->
</head>

<body>
    <header>
        <h1>ToDoリスト 詳細</h1>
        <div>
            <a href="{% url 'index' %}" class="btn btn-primary">Top</a>
            <a href="{% url 'todo_list' %}" class="btn btn-primary">追加</a>
            <a href="{% url 'todo_narabikae' %}" class="btn btn-primary">一覧</a>
        </div>
    </header>
    <div class="container">
        <h3>並び変え</h3>
        <form method="post">
            {% csrf_token %}
            <select name="sort" size="1" required>
                <option value="">並び変えを選択してください。</option>
                <option value="start_date">開始日</option>
                <option value="end_date">終了日</option>
                <option value="situation">状況</option>
            </select>
            <input type="submit" value="並び変え">
            <h2>イベントリスト 全体</h2>
            <table>
                <thead>
                    <tr>
                        <th>タイトル</th>
                        <th>開始日</th>
                        <th>終了日</th>
                        <th>内容</th>
                        <th>状況</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                    <tr>
                        <td>{{ event.event_name }}</td>
                        <td>{{ event.start_date }}</td>
                        <td>{{ event.end_date }}</td>
                        <td>
                            <span class="short-content" id="content-{{ event.id }}">
                                {% if event.memo|length > 100 %}
                                {{ event.memo|slice:":100" }}...
                                {% else %}
                                {{ event.memo }}
                                {% endif %}
                            </span>
                        </td>
                        <td>{{ event.situation }}</td>
                        <td>
                            <a href="{% url 'todo_list_henshu' event.id %}" class="btn btn-edit">詳細・編集</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>

</body>

</html>